/* shared common styles  */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav> ul{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
.text-primary{
    color: red;
}
li{
    justify-content: center;
    list-style: none;
    margin-right: 50px;
}
a{
    text-decoration: none;
    color: #474747;
}
.btn_primary{
    border-radius: 5px;
background:red;
font-size: 20px;
font-style: normal;
font-weight: 700;
border: 0px;
color: white;
padding: 15px 35px;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
}
.banner{
padding: 30px 30px 30px 150px;
display: flex;
align-items: center;
}
img{
    width: 500px;
}
